@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #161616;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #006bf5;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;              
}

* {
    margin: 0;
    padding: 0;
      
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
       
    
}

.cabecalho {
    padding: 5% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}
.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding:5% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    
}

.apresentacao__conteudo {
    width: 100%;  
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}



.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.box {
   
    perspective: 800px;
}

.box__content {
    background: transparent;
    width: 500px;
    height: 200px;
    position: relative; 
    transform-style: preserve-3d;
    /* transition: transform 1.5s ease-in-out; */
    animation-name: flip;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}

.box__front, .box__back { 
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.box__back {
    transform:rotateY(180deg);
    position: absolute;
    
}

.apresentacao__imagem {
    width: 80%;
    
}

/* .box:hover .box__content{
    transform: rotateY(180deg);
    
} */

.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

@keyframes flip {
    animation: name duration timing-function delay iteration-count direction fill-mode;
    0% {
        transform: rotateY(0deg);
    }
    50%{
        transform: rotateY(180deg);
    }
    
    
}

@media(max-width: 750px ) {

    .cabecalho {
        padding: 5%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        
    }
    .apresentacao__conteudo {
        width: auto;
    }

    
}